<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>商品界面</title>
</head>
<body>
    <div th:unless="${user!=null}"><a th:href="@{/login}">请登录</a> <a th:href="@{/register}">去注册</a></div>
    <div th:if="${user!=null}">欢迎你：<span th:text="${user.username}"></span></div>

    <div>
        <table border="1px" align="center">
            <tr>
                <td>编号</td>
                <td>名称</td>
                <td>价格</td>
                <td>数量</td>
                <td>操作</td>
            </tr>
            <tr th:each="coms : ${com}">
                <td th:text="${coms.number}"></td>
                <td th:text="${coms.tradeName}"></td>
                <td th:text="${coms.tradeMoeny}"></td>
                <td th:text="${coms.tradeNumber}"></td>
                <td><a th:href="@{/addCart/{number}(number=${coms.number})}">添加购物车</a></td>
            </tr>
        </table>
        <a th:href="@{/upper/{page}(page=${page}-1)}">上一页</a> <span th:text="${page}"></span>|<span th:text="${count}"></span> <a th:href="@{/lower/{page}(page=${page}+1)}">下一页</a>
        <a th:href="@{/shopCart}">查看购物车</a>
    </div>

</body>
</html>