<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>登陆界面</title>
</head>
<body>
    <div>
        <form method="post" action="/login/{username}/{password}">
        账号：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
            <input type="submit" th:value="登陆">
            <input type="reset" th:value="取消"><br/>
        </form>
        <a th:href="@{/register}">没有账号去注册</a>
    </div>
</body>
</html>